{% extends 'index.html' %}
{% block title %} {% endblock title %}
{% block body %}
{% load static %}

<div class="wrapper">
       

  <div class="content-page">
    <div class="content">
 
    
  <div class="container-fluid">
                         
     {% for message in messages %}
     <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
 
       {% if message.tags == "success" %}
       <strong>Well done!</strong> {{ message}}
       {% else %}
       <strong>Error!</strong> {{ message}}
       {% endif %}
 
     </div>
     {% endfor %}
                         <!-- start page title -->
                         <div class="row">
                             <div class="col-12">
                                 <div class="page-title-box">
                                     <div class="page-title-right">
                                         <ol class="breadcrumb m-0">
                                             <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                                             <li class="breadcrumb-item"><a href="javascript: void(0);">User</a></li>
                                             <li class="breadcrumb-item active">Topic</li>
                                         </ol>
                                     </div>
                                     <h4 class="page-title">Subject_Topic</h4>
                                 </div>
                             </div>
                         </div>     
                         <!-- end page title --> 
 
                         <div class="row">
                             <div class="col-12">
                                 <div class="card">
                                     <div class="card-body">
                                         <div class="row mb-2">
                                             <div class="col-sm-4">
                                                {% comment %} <a class="btn btn-danger mb-2" href="{% url 'rept'  %}" ><i class="mdi mdi-plus-circle me-2"></i> Add Receipt</a>
  {% endcomment %}
                                                    </div>
                                        
                 
                                         <div class="table-responsive">
                                             <table class="table table-centered w-100 dt-responsive nowrap" id="products-datatable">
                                                 <thead class="table-light">
                                                     <tr>
                                                         <th class="all" style="width: 20px;">
                                                             <div class="form-check">
                                                                 <input type="checkbox" class="form-check-input" id="customCheck1">
                                                                 <label class="form-check-label" for="customCheck1">&nbsp;</label>
                                                             </div>
                                                         </th>
                                                         <th scope="col">#</th>

                                                             <th scope="col">Topic</th>
                                                             <th scope="col">Content</th>
                                                               
            
                                                      
                                                                
                                                     </tr>
                                                 </thead>
                                             
                                                 
                                                   {% for  top in topic %}
                                                 
                                                 <tbody>
                                                     <tr>
                                                         <td>
                                                             <div class="form-check">
                                                                 <input type="checkbox" class="form-check-input" id="customCheck2">
                                                                 <label class="form-check-label" for="customCheck2">&nbsp;</label>
                                                             </div>
                                                         </td>
                                                      
                                                         <td>{{ forloop.counter }}</td>
                                                         <td>{{ top.topic}}</td>
                                                         <td>{{ top.content}}</td>
                                                        
                                                         
                                                         
                                                           
                                         
                                                        
                                                        
                                                     
                                                  
                                                     </tr>
                                                     
                                                     
                                                 </tbody>
                                               
                                                 {% endfor %}
                                             </table>
                                         </div>

                                         
                                     </div> <!-- end card-body-->
                                 </div> <!-- end card-->
                             </div> <!-- end col -->
                         </div>
                         <!-- end row -->        
                         
                     </div> <!-- container -->
 
                 </div> <!-- content -->
 
 </div>
 </div>
 </div>

{% endblock body %}